<?xml version="1.0"?>
<launch>

  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"></include>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster" args="0.285 0 0 3.1415 0 0 base_link laser" />
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster" args="0.5 0 0 3.1415 0 0 base_link imu" /> -->

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find panther_navigation)/config/mapper_params_online_sync.yaml" />
  </node>

  <!-- <include file="$(find panther_description)/launch/panther_gazebo.launch"/> -->

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/> 
    <rosparam file="$(find panther_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find panther_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find panther_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find panther_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find panther_navigation)/config/trajectory_planner.yaml" command="load" />
    <rosparam file="$(find panther_navigation)/config/teb_planner.yaml" command="load" />

    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="/scan"/>
    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>

  </node>
  
</launch>

