<?xml version='1.0'?>

<robot name="panther" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="panther_common_props_path" default="$(find panther_description)/models/panther/config/panther_common.yaml" />
  <xacro:arg name="wheel_props_path" default="$(find panther_description)/models/panther/config/WH01.yaml" />
  <xacro:arg name="use_gpu" default="true" />

  <!-- IMPORT YAML CONFIGS -->
  <xacro:property name="panther_common_props_file" value="$(arg panther_common_props_path)"  />
  <xacro:property name="panther_common_props" value="${load_yaml(panther_common_props_file)}" />

  <xacro:property name="wheel_props_file" value="$(arg wheel_props_path)"  />
  <xacro:property name="wheel_props" value="${load_yaml(wheel_props_file)}" />


  <!-- INCLUDE ROBOT PARTS DEFINITIONS -->
  <xacro:include filename="$(find panther_description)/models/panther/materials.urdf.xacro" />
  <xacro:include filename="$(find panther_description)/models/panther/body.urdf.xacro" ns="body" />
  <xacro:include filename="$(find panther_description)/models/panther/wheel.urdf.xacro" ns="wheel" />
  <xacro:include filename="$(find panther_description)/models/panther/gazebo_plugins.gazebo.xacro" ns="gazebo" />

  <!-- BODY DECLARATION -->
  <xacro:body.body props="${panther_common_props['body']}" wheel_props="${wheel_props['wheels']}" />

  <!-- WHEEL DECLARATION -->
  <xacro:wheel.wheel wheel_props="${wheel_props['wheels']}" common_props="${panther_common_props}" prefix="front_left" />
  <xacro:wheel.wheel wheel_props="${wheel_props['wheels']}" common_props="${panther_common_props}" prefix="front_right" />
  <xacro:wheel.wheel wheel_props="${wheel_props['wheels']}" common_props="${panther_common_props}" prefix="rear_left" />
  <xacro:wheel.wheel wheel_props="${wheel_props['wheels']}" common_props="${panther_common_props}" prefix="rear_right" />

  <!-- GAZEBO PLUGINS -->
  <xacro:gazebo.wheel_driver wheel_props="${wheel_props}" common_props="${panther_common_props}" />
  <xacro:gazebo.rplidar_s1 xyz="0.185 0 0.17" rpy="0 0 0" use_gpu="$(arg use_gpu)" />


</robot>
