<?xml version='1.0'?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="panther_robot" 
               params="use_sim:=false
                       dual_bat:=false
                       imu_pos_x:=0.168 
                       imu_pos_y:=0.028
                       imu_pos_z:=0.083
                       imu_rot_r:=3.14 
                       imu_rot_p:=-1.57
                       imu_rot_y:=0.0
                       wheel_config_path:=None
                       simulation_engine:='gazebo-classic'">

    <xacro:if value="${wheel_config_path == 'None'}">
      <xacro:property name="wheel_config_file" value="$(find panther_description)/config/WH01.yaml"  />
    </xacro:if>
    <xacro:unless value="${wheel_config_path == 'None'}">
      <xacro:property name="wheel_config_file" value="$(arg wheel_config_path)"  />
    </xacro:unless>

    <xacro:property name="wheel_config_ros_params" value="${load_yaml(wheel_config_file)}" />
    <xacro:property name="wheel_config" value="${wheel_config_ros_params['/**']['ros__parameters']}" />


    <!-- INCLUDE ROBOT PARTS DEFINITIONS -->
    <xacro:include filename="$(find panther_description)/urdf/body.urdf.xacro" ns="body" />
    <xacro:include filename="$(find panther_description)/urdf/wheel.urdf.xacro" ns="wheel" />

    <!-- BODY DECLARATION -->
    <xacro:body.body 
      wheel_radius="${wheel_config['wheel_radius']}"
      imu_pos_x="${imu_pos_x}"
      imu_pos_y="${imu_pos_y}"
      imu_pos_z="${imu_pos_z}"
      imu_rot_r="${imu_rot_r}"
      imu_rot_p="${imu_rot_p}"
      imu_rot_y="${imu_rot_y}"
      simulation_engine="${simulation_engine}" />

    <xacro:property name="wheel_separation_x" value="0.44" />

    <!-- WHEEL DECLARATION -->
    <xacro:wheel.wheel
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="fl" />

    <xacro:wheel.wheel 
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="fr" />
      
    <xacro:wheel.wheel 
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="rl" />
      
    <xacro:wheel.wheel 
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="rr" />
      
    
    <xacro:if value="${simulation_engine == 'gazebo-classic'}">
      <gazebo>
          <plugin name="joint_states" filename="libgazebo_ros_joint_state_publisher.so">
          <joint_name>fl_wheel_joint</joint_name>
          <joint_name>fr_wheel_joint</joint_name>
          <joint_name>rl_wheel_joint</joint_name>
          <joint_name>rr_wheel_joint</joint_name>
        </plugin>
      </gazebo>

      <xacro:if value="${wheel_config['kinematics'] == 'differential'}">
        <gazebo>
          <plugin name='skid_steer_drive' filename='libgazebo_ros_diff_drive.so'>
            <ros>
            </ros>
            <update_rate>10</update_rate>
            <num_wheel_pairs>2</num_wheel_pairs>
            <left_joint>fl_wheel_joint</left_joint>
            <right_joint>fr_wheel_joint</right_joint>
            <left_joint>rl_wheel_joint</left_joint>
            <right_joint>rr_wheel_joint</right_joint>
            <wheel_separation>${wheel_config['wheel_separation']}</wheel_separation>
            <wheel_separation>${wheel_config['wheel_separation']}</wheel_separation>
            <wheel_diameter>${wheel_config['wheel_radius']*2.0}</wheel_diameter>
            <wheel_diameter>${wheel_config['wheel_radius']*2.0}</wheel_diameter>
            <max_wheel_torque>34.5</max_wheel_torque>
            <max_wheel_acceleration>2.0</max_wheel_acceleration>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>false</publish_wheel_tf>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
          </plugin>
        </gazebo>
      </xacro:if>
      
      <xacro:if value="${wheel_config['kinematics'] == 'mecanum'}">
        <gazebo>
          <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
            <ros>
            </ros>
            <update_rate>10</update_rate>
            <publish_rate>10</publish_rate>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <covariance_x>0.0001</covariance_x>
            <covariance_y>0.0001</covariance_y>
            <covariance_yaw>0.01</covariance_yaw>
          </plugin>
        </gazebo>
      </xacro:if>
    </xacro:if>
  </xacro:macro>
</robot>
