<?xml version="1.0"?>
<launch>

  <include file="$(find panther_description)/launch/panther_rviz.launch"></include>

  <include file="$(find panther_description)/launch/gmapping.launch"></include>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

</launch>
