<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find panther_description)/urdf/components/rplidar_s1.gazebo.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/components/rplidar_a2.gazebo.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/components/rplidar_a3.gazebo.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/components/velodyne_puck.gazebo.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/components/ouster_os1_32.gazebo.xacro" />
  <xacro:include filename="$(find panther_description)/urdf/components/orbebec_astra.gazebo.xacro" />

  <xacro:macro name="wheel_driver" params="wheel_props common_props">
    <xacro:if value="${wheel_props['simulation']['driver'] == 'libgazebo_ros_skid_steer_drive'}">
      <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
          <updateRate>10.0</updateRate>
          <robotBaseFrame>base_link</robotBaseFrame>
          <wheelSeparation>${common_props['body']['wheel_separation']}</wheelSeparation>
          <wheelDiameter>${wheel_props['wheels']['diameter']}</wheelDiameter>
          <torque>${common_props['motors']['max_torque']}</torque>
          <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
          <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
          <leftRearJoint>rear_left_wheel_joint</leftRearJoint>
          <rightRearJoint>rear_right_wheel_joint</rightRearJoint>
          <topicName>cmd_vel</topicName>
          <commandTopic>cmd_vel</commandTopic>
          <broadcastTF>true</broadcastTF>
          <odometryTopic>odom</odometryTopic>
          <odometryFrame>odom</odometryFrame>
          <covariance_x>0.000100</covariance_x>
          <covariance_y>0.000100</covariance_y>
          <covariance_yaw>0.010000</covariance_yaw>
        </plugin>
      </gazebo>
    </xacro:if>
    
    <xacro:if value="${wheel_props['simulation']['driver'] == 'libgazebo_ros_planar_move'}">
      <gazebo>
        <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
          <commandTopic>cmd_vel</commandTopic>
          <odometryTopic>odom</odometryTopic>
          <odometryFrame>odom</odometryFrame>
          <odometryRate>10.0</odometryRate>
          <robotBaseFrame>base_link</robotBaseFrame>
          <cmdTimeout>-1</cmdTimeout>
        </plugin>
      </gazebo>
    </xacro:if>


    <link name="imu">
      <inertial>
        <mass value="0.0000001" />
        <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
      </inertial>
    </link>

    <joint name="base_link_to_imu_link_joint" type="fixed">
      <origin xyz="0.169 0.025 0.092" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="imu" />
    </joint>

    <gazebo reference="imu">
      <gravity>true</gravity>
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>false</visualize>
        <topic>imu/data</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>imu/data</topicName>
          <bodyName>imu</bodyName>
          <updateRateHZ>125.0</updateRateHZ>
          <gaussianNoise>${0.095*(pi/180.0)}</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>imu</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>


  </xacro:macro>
</robot>
